<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://code.alibabatech.com/schema/dubbo
                           http://code.alibabatech.com/schema/dubbo/dubbo.xsd
">
    <!--创建应用-->
    <dubbo:application name="dubbo-consumer"></dubbo:application>
    <!--配置注册中心-->
    <dubbo:registry address="zookeeper://192.168.17.100:2181"></dubbo:registry>

    <!--指定要调用的服务-->
    <dubbo:reference id="userService" interface="com.itqf.service.UserService"></dubbo:reference>


</beans>